main {
  text-align: center;
  width: 1200px;
}
table {
  align-items: center;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
}
tr,
td {
  text-align: center;
  display: inline-flex;
  padding: 2em;
  border: 1px solid black;
}
#tombola-table {
  text-align: center;
}
